################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyStack/.vs
/MyStack/MyStack/bin/Debug/net6.0
/MyStack/MyStack/obj
/ListApp/.vs/ListApp
/ListApp/ListApp/bin/Debug/net7.0
/ListApp/ListApp/obj
/YieldApp/.vs/YieldApp
/YieldApp/YieldApp/bin/Debug/net7.0
/YieldApp/YieldApp/obj
/YieldApp/.vs/ProjectEvaluation
